/* Custom Bootstrap */
@media (min-width: 768px) {
	 .dropdown:hover .dropdown-menu {
	    display: block;
	 }
}

/* --------- PRIMEFACES OVERLOAD --------- */

.ui-grid-row {
	margin-top: 5px  !important;	
}

.ui-layout-north {
    z-index:20 !important;
    overflow:visible !important;
}

.ui-layout-north .ui-layout-unit-content {
    overflow:visible !important;
}

.ui-datatable-header {
    padding: 2px !important;
    text-align: left !important;
    background-color: #f2f1f1 !important;
    border-color: silver !important;
    border: 0px;
    width: 97%;
}

.ui-paginator-bottom {
    width: 97%;
}

.ui-state-highlight {
    background-color: lightyellow !important;
    border-width: 4px !important;
}

.ui-panelgrid tr,
.ui-panelgrid td {
    border: none !important;
}

.ui-panelgrid .ui-panelgrid-cell {
    border-style: none;
}
.ui-panelgrid .ui-widget-content {
    border: 0px; 
}

.ui-dialog-title {
    font-size: 15px !important;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif; 
}


/* --------- CUSTOM --------- */

body, table, div {
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif; 
}

table {
    width: 97% !important;
}

body {
    font-size: 14px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    background-color: #ffffff;
    color: #000000;  
    margin: 10px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

.textRight {
    text-align: right;
}

.textCenter {
    text-align: center;
}

.colString {
    min-width: 100px;
}

.colData {
    min-width: 90px;    
}
.colValor {
    min-width: 100px;
}

.colBoolean {
    min-width: 60px;
}

.colInteiro {
    min-width: 80px;
}

.btns {
	border-top: 1px dashed silver;
	margin-top: 15px;
	padding-top: 5px;
}

.columnSingleButton {
    text-align: center;
    width: 50px
}

.titulo {
    border-bottom: 1px solid;
    border-color: #4e8ccf #abc3d7;
}

.selected {
	background-color: #E6E6E6;
	line-height:37px;
	padding-left:10px;
	padding-right:10px;
	background-position:left top;
	background-repeat:no-repeat;
	padding-right:0px;
	margin-right:10px;
}

.Column74px {
	width: 74px;
}

.fieldsForm {
	padding-right: 5px;
}

#menuHeader{
	position:absolute;
	margin-left:40%;
	width:700px;
	height:34px;	
	bottom:0px;
}

#menuHeader li{
	list-style:none;
	float:left;
	}
#menuHeader li a{
	display:block;
	font-size:14px;
	color:#00337B;
	line-height:34px;
	padding-left:6px;
	padding-right:6px;
	text-decoration:none;
}

.rotulo{
    width: 70px;
    font-size: 12px;
}

.filtro {
    background-color:#f6f6f6;
    padding: 5px;
    font-size: 11px;
}

.tabela {
    margin-top: 10px;    
}

.div-align-center {
    text-align: center;
}

/* Estilo botões */
.ui-button {    
    display: inline-block;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    line-height: 1.42857143;
    border-radius: 0 !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-shadow: none !important;
    margin: 0 !important;
    box-shadow: none;
}

.btn_verde {
  color: white;
  background-color: #58d291;
  border: 1px solid #58d291;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.btn_verde:hover {
  background-color: transparent;
  border-color: #58d291;
  color: #58d291 !important;
}

.btn-novo:hover {
    background-color: transparent;
    color: blue;
    border-color: blue;
}
